.dashboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "a";
  mat-card {
    grid-area: a;
    align-self: center;
    justify-self: center;
    width: 80%;
    height: 400px;
    p {
      text-align: justify;
    }
  }
}