<div class="dashboard">
  <mat-card>
    <h2>Dashboard</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae finibus dui, vel commodo mauris. Praesent in mi at metus imperdiet dictum. Donec condimentum mi ex, eget lobortis eros porttitor in. Ut interdum faucibus lectus, at cursus sem aliquet ut. Aliquam suscipit pharetra facilisis. Praesent semper elementum facilisis. Sed vestibulum enim velit, sit amet hendrerit lacus fermentum at. Duis elit enim, rhoncus et neque ac, tempus commodo est. Curabitur vulputate mollis commodo. In ultricies enim ultrices ante porttitor feugiat iaculis ac velit. Morbi vel nulla interdum, gravida ipsum sed, ultricies turpis.
    </p>
  </mat-card>
</div>

